.Caixagreen {
    padding: auto;
    height: 135vh;
    width: 95vw;
    background-color: #4A806D;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3%;
    gap: 3rem;
    border-radius: 5px;
    margin-left: 30px;
}

.textomedicosemfont{
    margin-left: 60vh;
    font-size: 8vh !important;
}


.Caixagreen img {
    align-items: center;
    vertical-align: middle;
}

.Medicosemforntimg {
    height: 320px;
    width: 320px;
    border-radius: 50%;

}

.assdiv{
    margin-left: 580px;
    opacity: 70%;
    
}

.cubo {
    display: flex;
    flex-direction: column; 
}

div .cubo{
    width: 620px;
}

.projetos {
    height: 42vh;
    width: 48vw;
    background-color: #224237;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row !important;
    padding: 3%;
    gap: 100px;
    border-radius: 5px;
    margin-left: 456px;
    margin-top: 80px;
}

.ImgOng2 {
    width: 160px;
    height: 200px !important;
}

.ImgOng3 {
    width: 120px;
    height: 200px !important;
}

.Caixagreen div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.Caixagreen p {
    text-align: justify;
    transform: scale(1.15);
    width: 130%;
    padding-right: 20%;
    color: var(--white);
    font-size: 230%;

}

.Caixagreen p.Rate {
    text-align: justify;
    align-items: center;
    display: flex;
    transform: scale(1.15);
    width: 100%;
    color: var(--white);
    gap: 0.25rem;
}

.Caixagreen p.Rate span {
    transform: scale(0.6);
}

@media screen and (max-width: 745px) {
    .Caixagreenr {
        height: 40vh;
        width: 90vw;
    }

    .Caixagreen img {
        height: 35vh;
        width: 32vw;
    }
}

@media screen and (max-width: 400px) {
    .Caixagreen {
        height: 30vh;
        width: 95vw;
        padding: 2%;
        justify-content: center;
        gap: 0.5rem;
    }

    .Caixagreen img {
        height: 20vh;
        width: 35vw;
    }

    .Caixagreen div {
        gap: 0;
    }

    .Caixagreen p {
        width: 100%;
        transform: scale(0.75);
    }

    .Caixagreen p.Rate {
        transform: scale(0.75);
    }
}