.VoluntaryRegister {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.VoluntaryRegister section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.VoluntaryRegister form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.VoluntaryRegister form input {
  width: 35vw;
  height: 7vh;
  padding: 1%;
}

.VoluntaryRegister form textarea {
  width: 35vw;
  height: 40vh;
  resize: none;
  padding: 1%;
}

.VoluntaryRegister form .profile-picture {
  width: 35vw;
  height: 7vh;
  padding: 1%;
  border: 1px solid var(--black);
  border-radius: 5px;
}

.VoluntaryRegister form .Skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 0.5rem;
  justify-content: center;
  width: 60vw;
  height: 10rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.VoluntaryRegister form .Skills span {
  display: flex;
  width: min-content;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5% 0 2%;
  width: 100%;
  background-color: var(--green-two);
  color: var(--white);
  align-items: center;
  font-family: inherit;
}

.VoluntaryRegister form .Skills span > input[type="checkbox"] {
  width: 7%;
}

.VoluntaryRegister form input[type="file"] {
  display: none;
}

.VoluntaryRegister form .ProfilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem; 
  height: 6rem; 
  border-radius: 50%;
  background-color: #9b9b9b;
  color: var(--green-one); 
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s all ease;
}

.VoluntaryRegister form .ProfilePicture span { 
  font-size: 4rem; 
}

.VoluntaryRegister form .Buttons {
  display: flex;
  gap: 1rem;
}

.VoluntaryRegister form .Buttons button {
  width: 10vw;
  height: 7vh;
  text-transform: uppercase;
  background-color: var(--green-two);
  color: var(--white);
  border: 1px solid var(--black);
}

.Error {
  color: #ff0000;
  font-size: 0.9rem;
}