.VoluntaryProfileBanner {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1%;
}

.VoluntaryProfileBanner section {
    height: 55vh;
    width: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--green-one);
    padding: 2%;
    color: var(--white);
}

.VoluntaryProfileBanner section .Presentation {
    gap: 1rem;
    flex-direction: row;
    display: flex;
}

.VoluntaryProfileBanner section .Presentation figure img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.VoluntaryProfileBanner section .Presentation div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    align-items: flex-start;
}

.VoluntaryProfileBanner section .Presentation div p {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.VoluntaryProfileBanner section .Presentation div p,
.VoluntaryProfileBanner section .Presentation div span {
    font-size: 1.25rem;
}

.VoluntaryProfileBanner section .Presentation div h1 {
    font-size: 2.25rem;
    align-self: start;
}

.VoluntaryProfileBanner section .OccupationArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


.VoluntaryProfileBanner>div {
    height: 30vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.VoluntaryProfileBanner>div img {
    width: 12%;
}

.VoluntaryProfileBanner>div span {
    background-color: var(--green-one);
    width: 3rem;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    height: 3rem;
    color: var(--white);
    border-radius: 50%;
}

@media screen and (max-width: 400px) {}