.SideBanner {
    height: 100vh;
    width: 40%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 745px) {
    .SideBanner {
        width: 65%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .SideBanner {
        width: 100%;
        height: 40vh;
        align-items: center;
        justify-content: center;
    }
    
    .SideBanner img {
        width: 25%;
    }   
  }