.ProjectBanner {
    height: 35vh;
    width: 70vw;
    background-color: var(--green-one);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1%;
    border-radius: 5px;
}

.ProjectBanner img {
    height: 30vh;
    width: 20vw;
    border-radius: 5px;
}

.ProjectBanner div {
    height: 100%;
    width: 80%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.ProjectBanner h1 {
    color: var(--white);
}

.ProjectBanner p {
    text-align: justify;
    color: var(--white);
}

.ProjectBanner button {
    background-color: var(--green-two);
    border: 0;
    height: 8vh;
    width: 15vw;
    font-size: 1.25rem;
    color: var(--white);
}

@media screen and (max-width: 400px) {
    .ProjectBanner {
        height: 30vh;
        width: 95vw;
        padding: 2%;
        justify-content: center;
        gap: 0.5rem;
    }

    .ProjectBanner img {
        width: 35%;
    }

    .ProjectBanner p {
        width: auto;
        transform: scale(0.75);
    }

    .ProjectBanner>span {
        left: 5%;
        top: 18%;
    }
}