.VoluntaryProfile header {
    width: 100%;
    height: 10vh;
    padding: 1%;
    background-color: var(--green-two);
}

.VoluntaryProfile header nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.VoluntaryProfile section {
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {}