.ProfileBanner {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2%;
  width: 50rem;
  position: relative;
  display: flex;
  flex-direction: column;
  top: -5rem;
  gap: 1rem;
  left: 30%;
  transform: translateX(-50%);
  box-shadow: 1px 1px 4px var(--black);
  z-index: 10;
}

.Container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Container img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--green-two);
}

.Info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.Info h2 {
  font-size: 1.5rem;
}

.Info div {
  display: flex;
  gap: 0.25rem;
}

.Info div button {
  color: var(--white);
  border: none;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Info div button:first-child {
  background-color: var(--green-one);
}

.Info div button:last-child,
.Info div button:nth-child(2) {
  background-color: #ff0000;
}

.Info div button:first-child:hover {
  background-color: var(--green-two);
}

.Info div button:last-child:hover,
.Info div button:nth-child(2):hover {
  background-color: #ff4343;
}

.Badges {
  display: flex;
  gap: 1rem;
}

.Badge {
  background-color: var(--green-two);
  color: var(--white);
  padding: 1.5% 1%;
  border-radius: 1rem;
  font-size: 0.8rem;
  height: min-content;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.badgeHidden {
  overflow: hidden;
}

.About {
  background-color: var(--green-two);
  color: var(--white);
  border-radius: 1rem;
  padding: 2%;
}

.Gallery {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.Gallery img {
  height: 10rem;
  width: auto;
}

.Gallery button {
  background-color: var(--green-two);
  color: var(--white);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding: 1%;
  transition: background-color 0.3s ease;
}

.Gallery button:hover {
  background-color: var(--green-one);
}

.Gallery button:active {
  background-color: var(--green-one);
  transform: scale(0.98);
}

.Gallery div {
  position: relative;
  display: inline-block;
}

.Gallery div img {
  height: 10rem;
  width: auto;
}

.Gallery div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  padding: 0.5rem;
  display: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Gallery div:hover span {
  display: block;
}

.Gallery div span:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  background-color: var(--white);
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 1rem;
}

.Modal button {
  background-color: #ff0000;
  color: var(--white);
  border: none;
  padding: 2%;
  width: 40%;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.Modal button:hover {
  background-color: #d40000;

}