.ProfileBanner {
  background-color: #f5f7fa;
  border-radius: 1rem;
  padding: 2%;
  width: 50rem;
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 1px 4px var(--black);
}

.Container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Container img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--green-two);
}

/* .Info {
  margin-left: 20px;
  flex-grow: 1;
}

.Info h2 {
  font-size: 24px;
  margin: 0;
}

.Info button:first-child {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.Info button:last-child {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
} */

.Badges {
  display: flex;
  gap: 1rem;
}

.Badges div {
  background-color: var(--green-two);
  color: var(--white);
  padding: 1.5% 1%;
  border-radius: 1rem;
  font-size: 0.8rem;
  height: min-content;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.About {
  background-color: var(--green-two);
  color: var(--white);
  border-radius: 1rem;
  padding: 2%;
}