.LandingPage header {
  width: 100%;
  height: 20vh;
  padding: 2%;
}

.LandingPage nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.LandingPage nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 2rem;
}

.LandingPage nav ul a {
  text-decoration: none;
  color: var(--black);
}

.LandingPage nav ul a:hover {
  color: var(--green-one);
}

.LandingPage nav img {
  width: 7vw;
  height: 12vh;
}

.LandingPage .Presentation {
  background-image: url("../../img/landingpagebackground.jpg");
  filter: brightness(95%);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--green-two);
  gap: 0.5rem;
}

.LandingPage .Presentation h1 {
  font-size: 5rem;
}

.LandingPage .Presentation .Buttons {
  display: flex;
  gap: 1rem;
}

.LandingPage .Presentation .Buttons button {
  background-color: var(--green-two);
  color: var(--white);
  width: 12vw;
  height: 8vh;
  border: 0;
  border-radius: 5px;
}

.LandingPage .Presentation .Buttons button:hover {
  background-color: var(--white);
  color: var(--green-one);
}

.LandingPage .AboutUs {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.LandingPage .AboutUs .Frame {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.LandingPage .AboutUs .Frame div {
  height: 80vh;
  width: 50%;
  background-color: var(--green-two);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3%;
  color: var(--white);
  justify-content: center;
}

.LandingPage .AboutUs .Frame div p {
  width: 70%;
}

.LandingPage .AboutUs .Frame div.Left {
  align-items: self-start;
}

.LandingPage .AboutUs .Frame div.Right {
  align-items: self-end;
}

.LandingPage div.Left h2 {
  text-align: justify;
}

.LandingPage div.Right p {
  text-align: end;
}

.LandingPage .Img1 {
  width: 35vw;
  height: 70vh;
  position: relative;
  right: 7%;
  top: 5%;
}

.LandingPage .Img2 {
  width: 35vw;
  height: 70vh;
  position: relative;
  left: 7%;
  top: 5%;
}

@media screen and (max-width: 745px) {
  .LandingPage nav img {
    width: 13vw;
  }

  .LandingPage .Presentation .Buttons button {
    width: 18vw;
  }

  .LandingPage .AboutUs {
    height: 150vh;
  }

  .LandingPage .AboutUs .Frame {
    height: 75vh;
    width: 100%; 
  }

  .LandingPage .AboutUs .Frame div {
    height: 55vh;
    width: 50%;
    gap: 1.5rem;
  }

  .LandingPage .Img1 {
    width: 35vw;
    height: 40vh;
    top: 10%;
  }
  
  .LandingPage .Img2 {
    width: 35vw;
    height: 40vh;
    top: 10%;
  }
}

@media screen and (max-width: 400px) {
  .LandingPage header {
    height: 35vh;
  }
  
  .LandingPage nav {
    flex-direction: column;
    justify-content: space-around;
  }
  
  .LandingPage nav ul {
    gap: 1rem;
  }
  
  .LandingPage nav img {
    width: 25vw;
    height: 15vh;
  }
  
  .LandingPage .Presentation {
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
  }
  
  .LandingPage .Presentation h1 {
    font-size: 2rem;
  }
  
  .LandingPage .Presentation .Buttons button {
    width: 35vw;
    height: 10vh;
  }
  
  .LandingPage .AboutUs {
    height: auto;
    margin-bottom: 1rem;
  }

  .LandingPage .AboutUs .Frame {
    height: 75vh;
    width: 100%; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .LandingPage .AboutUs .Frame div.Left,
  .LandingPage .AboutUs .Frame div.Right
  {
    height: 70vh;
    width: 100%; 
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .LandingPage .Img1 {
    width: 35vw;
    position: relative;
    right: 20%;
  }
  
  .LandingPage .Img2 {
    width: 35vw;
    position: relative;
    top: -20%;
    left: 20%;
  }
}