.SecondPage header {
    width: 100%;
    height: 10vh;
    padding: 1%;
    background-color: var(--green-two);
}

.SecondPage header nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.SecondPage header nav div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.SecondPage header nav div h3 {
    color: var(--white);
}

.SecondPage main {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}