:root {
    --green-one: #224237;
    --green-two: #4A806D;
    --beige: #C4B4A1;
    --white: #F8F8F8;
    --black: #131313;
}

.search {
    padding: 8px;
    text-align: center;
    border-radius: 23px;
    border: 2px solid;
    width: 900px;
    margin: 20px auto;
    
}
h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.voluntariar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.block1,
.block2 {
    background-color: var(--green-one);
    color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 357px;
    width: 100%; 
    align-items: center; 
}

.block1 img{
    max-width: 500px; 
    border-radius: 10px; 
}
.block2 img {
    max-width: 400px;
    border-radius: 10px;
}

.block1 div,
.block2 div {
    flex: 1px;
    margin-right: -300px; 
}


.block1 button,
.block2 button {
    width: 30%;
    margin-left: auto;
    margin-top: 250px;
}

.cta-button {
    background-color: var(--green-two);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e0e0e0;
}

@media screen and (max-width: 745px) {
    .voluntariar-container {
        flex-direction: column;
    }

    .block1,
    .block2 {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    .cta-button {
        font-size: 14px;
    }
}
nav {
    justify-content: center;
}
