.VoluntaryBanner {
    height: 38vh;
    width: 70vw;
    background-color: var(--green-one);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1%;
    gap: 3rem;
    border-radius: 5px;
}

.VoluntaryBanner img {
    height: 34vh;
    width: 22vw;
}

.VoluntaryBanner div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.VoluntaryBanner p {
    text-align: justify;
    transform: scale(1.15);
    width: 100%;
    color: var(--white);
}

.VoluntaryBanner p.Rate {
    text-align: justify;
    align-items: center;
    display: flex;
    transform: scale(1.15);
    width: 100%;
    color: var(--white);
    gap: 0.25rem;
}

.VoluntaryBanner p.Rate span {
    transform: scale(0.6);
}

@media screen and (max-width: 745px) {
    .VoluntaryBanner {
        height: 40vh;
        width: 90vw;
    }

    .VoluntaryBanner img {
        height: 35vh;
        width: 32vw;
    }
}

@media screen and (max-width: 400px) {
    .VoluntaryBanner {
        height: 30vh;
        width: 95vw;
        padding: 2%;
        justify-content: center;
        gap: 0.5rem;
    }

    .VoluntaryBanner img {
        height: 20vh;
        width: 35vw;
    }

    .VoluntaryBanner div {
        gap: 0;
    }    

    .VoluntaryBanner p {
        width: 100%;
        transform: scale(0.75);
    }

    .VoluntaryBanner p.Rate {
        transform: scale(0.75);
    }
}