@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --green-one: #224237;
  --green-two: #4A806D;
  --beige: #DAC8B3;
  --white: #F8F8F8;
  --black: #131313;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.Body {
  width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 500;
}

p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 200;
}